absl-py==0.15.0
astor==0.8.1
backports.functools-lru-cache==1.6.4
backports.weakref==1.0.post1
bleach==1.5.0
certifi==2020.6.20
cycler==0.10.0
enum34==1.1.10
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.4.0
gast==0.2.2
google-pasta==0.2.0
grpcio==1.41.1
h5py==2.10.0
html5lib==0.9999999
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==2.2.5
mock==3.0.5
numpy==1.16.6
opt-einsum==2.3.2
pathlib==1.0.1
plyfile==0.7.4
protobuf==3.17.3
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2023.3
scipy==1.2.3
six==1.16.0
subprocess32==3.5.4
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-cpu==1.15.0
tensorflow-estimator==1.15.1
tensorflow-tensorboard==0.4.0
termcolor==1.1.0
Werkzeug==1.0.1
wrapt==1.15.0
scikit-learn==0.20.4
